aws_region = "ap-south-1"
aws_profile = "your_aws_profile_name"
environment = "dev"
vpc_cidr = "10.0.0.0/16"
availability_zones = ["ap-south-1a", "ap-south-1b"]
public_subnets_cidr = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnets_cidr = ["10.0.3.0/24", "10.0.4.0/24"]
app_name = "devzone"
container_image = "sivaprasadreddy/devzone"
container_port = 8080
container_cpu = 512
container_memory = 1024
desired_task_count = 1
health_check_path = "/actuator/health"
db_username = "sivalabs"
db_password = "changeme1234567"
db_allocated_storage = 10
db_engine_version = "14"
db_storage_type = "gp2"
db_instance_class = "db.t3.micro"
db_backup_retention_period = 0
