<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="!docker">
        <property name="LOG_FILE" value="logs/devzone.log"/>
    </springProfile>
    <springProfile name="docker">
        <property name="LOG_FILE" value="/logs/devzone.log"/>
    </springProfile>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="com.sivalabs" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="net.ttddyy.dsproxy.listener" level="DEBUG"/>

</configuration>
