version: '2.1'
orbs:
  gradle: circleci/gradle@3.0.0
executors:
  machine_executor:
    machine:
      image: ubuntu-2204:2022.10.1
workflows:
  build_and_test:
    jobs:
      - gradle/test:
          executor: machine_executor
