<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainLayout}">
<head>
    <title>Change Password</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">

        <div class="col-md-6 offset-md-3">
            <div th:if="${msg}">
                <div class="alert alert-success"><span th:text="${msg}">Message</span></div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 >Change Password Form</h3>
                </div>
                <div class="card-body">
                    <form id="loginForm" method="post" th:action="@{/change-password}" th:object="${changePassword}"
                          class="form-horizontal"
                          role="form"
                          cssStyle="width: 800px; margin: 0 auto;">
                        <div class="form-group">
                            <label for="oldPassword" class="col-sm-2 control-label">Current Password*</label>
                            <div class="col-sm-10">
                                <input type="password" id="oldPassword" name="oldPassword"
                                       th:field="*{oldPassword}"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid' : ''"
                                       placeholder="Enter current password" />
                                <div class="invalid-feedback"  th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Old Password Error</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newPassword" class="col-sm-2 control-label">New Password*</label>
                            <div class="col-sm-10">
                                <input type="password" id="newPassword" name="newPassword"
                                       th:field="*{newPassword}"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''"
                                       placeholder="Enter new password" />
                                <div class="invalid-feedback"  th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <input type="submit" class="btn btn-primary pull-right"
                                       value="Submit"/>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
