<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainLayout}">
<head>
    <title>Profile</title>
</head>
<body>

<div layout:fragment="content">

    <div class="row">

        <div class="col-md-4 offset-md-4">

            <div class="card">
                <div class="card-header">
                    <h3>User Profile</h3>
                </div>
                <div class="card-body">
                    <form id="profileForm" method="post" action="#" th:object="${user}"
                          class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-sm-12 control-label">Name*</label>
                            <div class="col-sm-12">
                                <input type="text" id="name" name="name"
                                       readonly="readonly"
                                       th:field="*{name}"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                       placeholder="Enter Name"/>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-12 control-label">Email*</label>
                            <div class="col-sm-12">
                                <input type="text" id="email" name="email"
                                       readonly="readonly"
                                       th:field="*{email}"
                                       class="form-control"
                                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"
                                       placeholder="Enter email" />
                                <div class="invalid-feedback"  th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
                            </div>
                        </div>
                        <!--<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-4">
                                <input type="submit" class="btn btn-primary pull-right"
                                       value="Submit"/>
                                <div class="clearfix"></div>
                            </div>
                        </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
